/*header*/
@import 'reset.css';

.root-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.header-container{
    background-color: rgb(3,37,65,1);
}

.header-wrap{
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center ;
}

.header-left-wrap{
    display: flex;
}

.header-left-wrap ul{
    display: flex;
}

.header-left-wrap li{
    margin-right: 14px;
    padding: 8px;
}

.header-nav-item{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.header-nav-item-login{
    color: white;
    text-decoration: none;
    font-weight: 600;

}



/*Movies page*/
@import 'reset.css';

body{
    background-color: #0B344F ;
}

.movies-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container{
    width: 250px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img{
    max-width: 100%;
}

.movie-info{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


/*기존에 가지고 있는 h4의 속성을 초기화*/
.movie-info h4{
    margin: 0; 
}

.movie-info span{
    margin-left: 3px;
}

.root-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.header-container{
    background-color: rgba(3, 37, 65, 1);
}

.header-wrap{
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.header-left-wrap{
    display: flex;
}

.header-left-wrap ul{
    display: flex;
    margin-left: 16px;
    align-items: center;
}

.header-left-wrap li{
    margin-right: 14px;
    padding: 8px;

}

.header-nav-item{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.page-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}

/*LoginControl에서의 login-btn*/
.LoginButton{
    margin-left: 24px;
  background-color: #fff;
  color: #000;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
}

/*LoginPage*/
